.block_link_content{

  ol {
    counter-reset: item;
    li{
      display: block;
      list-style-position: inside;
      list-style-type: decimal;
    }
    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item
    }
  }

  ul li{
    list-style-position: inside;
    list-style-type: disc;
  }
}